{% extends "base.html" %}

{% block content %}
	{# Images first for now #}
	<h1>Images</h1>
	<ul id="images">
		{% for image in images %}
		<li>
			<div>
				<img class="image-img" alt="{{image.filename}}" src="{{ url_for('upload', filename=image.filename) }}"/>
				<span class="image-posted-on">
				{{ image.timestamp|e7formatdatetime }}
				</span>
				<span class="image-posted-by">{{ image.username }}: </span>
			</div>
		</li>
		{% endfor %}
	</ul>
	<h1>Messages</h1>
	<ul id="posts">
		{% for post in posts %}
		<li>
		<span class="posted-on">
		{{ post.timestamp|e7formatdatetime }}
		</span>
		<span class="posted-by">{{ post.username }}: </span>
		<span class="post-body">{{ post.body }}</span>
		</li>
		{% endfor %}
	</ul>
    <h1>Post a Message</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.body.label }}<br>
            {{ form.body(size=320,autofocus=true) }}<br>
            {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
	<h1>Image Upload</h1>
	<form method="POST" action="{{ url_for('upload_image') }}" enctype="multipart/form-data">
		<p><input type="file" name="file" accept="image/*"></p>
		<p><input type="submit" value="Submit"></p>
	</form>
{% endblock %}
